<div id="schedule">
    <div class="schedule-row">
        <div class="schedule-item">
            <span class="schedule-label">Rondbaan:</span>
            <span id="rond-current-activity"></span>
        </div>
        <div class="schedule-item">
            <span id="rond-next-activity"></span>
        </div>
    </div>
    <div class="schedule-row">
        <div class="schedule-item">
            <span class="schedule-label">Hockeybaan:</span>
            <span id="hockey-current-activity"></span>
        </div>
        <div class="schedule-item">
            <span id="hockey-next-activity"></span>
        </div>
    </div>
</div>